@using frontEndGscQuest.Models
@model HomeModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
    
    <body>
        <script src="~/Scripts/bootstrap.bundle.js"></script>
        <h1>Employee List</h1>
        <table>
            <tr>
                <th>Employee</th>
                <th>Last name</th>
                <th>First name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Account Status</th>
                <th>Edit</th>
                <th>Delete</th>
                <th><a href="@Url.Action("AddEmployee", "Home")" target="_blank" class="material-symbols-outlined">person_add</a></th>


            </tr>
        @foreach (modEmployeeList item in Model.EmployeeList)
            {
            <tr>
                <td>
                    <a href="@Url.Action("EmployeeDetails", "Home", new { imp_id = Html.DisplayFor(modeItem => item.imp_id) })" target="_blank"> @Html.DisplayFor(modelItem => item.imp_id)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imp_lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imp_firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imp_username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imp_password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imp_account_status)
                </td>
                <td>
                    <button type="button" class="material-symbols-outlined">edit_note</button>
                </td>
                <td>
                    <button type="button" class="material-symbols-outlined">delete_forever</button>
                </td>
            </tr>

            }

         </table>
 
    </body>
     


</html>
